@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply no-underline text-primary;
}

.footer {
  color: rgb(200, 205, 219);
}
textarea {
  max-width: 550px;
  min-height: 11rem;
  @apply mx-auto w-full resize;
}
.button {
  @apply inline-block text-white px-2 py-2 my-1 rounded transition duration-200 ease-in-out;
}
.buttontg {
  background: #25a3e1;
}

.buttondw {
  @apply m-px p-1;
}

.placeholder {
  background: rgba(0, 0, 0, 0.12);
  height: 30rem;
  width: 30rem;
  overflow: hidden;
  position: relative;
  margin: auto;
  cursor: progress;
}

.placeholder::after {
  -webkit-animation: loading 1.5s infinite;
  animation: loading 1.5s infinite;
  content: "";
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  transform: translateX(-100%);
  z-index: 1;
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.3),
    hsla(0, 0%, 100%, 0)
  );
}
#download {
  background-color: #43a047;
  display: none;
}
@media (prefers-color-scheme: dark) {
  body {
    background: #393939;
  }
  figcaption,
  p,
  textarea,
  h1 {
    color: #eaeaea;
  }
  .placeholder::after {
    background: linear-gradient(
      90deg,
      hsla(0, 0%, 100%, 0),
      hsla(0, 0%, 100%, 0.05),
      hsla(0, 0%, 100%, 0)
    );
  }
}
@media screen and (max-width: 600px) {
  .placeholder {
    max-width: 300px;
    max-height: 300px;
  }
  .dldot {
    display: flex;
  }
  textarea {
    max-width: 99%;
  }
  video {
    max-width: 80%;
  }
}
@media screen and (max-width: 300px) {
  .placeholder {
    max-width: 100px;
    max-height: 100px;
  }
  video {
    max-width: 99%;
  }
}

@-webkit-keyframes loading {
  to {
    transform: translateX(100%);
  }
}

@keyframes loading {
  to {
    transform: translateX(100%);
  }
}
